/* NAVER CAFE */
.content .se-viewer:lang(ko-KR) { font-family: "WFONT__FONT", "WFONT__EMPTY__FONT", -apple-system !important;}
.content .se-viewer:lang(ko-KR) .se-section-text.se-l-default .se-ff- { font-family: "WFONT__FONT", "WFONT__EMPTY__FONT", -apple-system !important;}
.post_title .tit { font-family: "WFONT__FONT", "WFONT__EMPTY__FONT", -apple-system !important;}
.post_title .date, .post_title .no { font-family: "WFONT__FONT", "WFONT__EMPTY__FONT", -apple-system !important;}
/* CLIEN */
body > div.nav_container > div.content_view > div.post_view > div.post_content > article > div { font-family: "WFONT__FONT", "WFONT__EMPTY__FONT", -apple-system !important;}
